/*html, body {
  min-width: 1000px;
} */

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100vw; 
  min-height: 100vh;
  width: auto; 
  height: auto;
  z-index: -100;
}

.bg_image {

  /*background:transparent url('../img/animation/map.gif'); */
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0px;
  /*background-size: ;*/
    background-repeat: no-repeat;
    background-position: 50% 50%;

    /* The image used */
/*    background-image: url("../img/animation/map.gif");

    /* Full height */
    /*height: 95vh; */

/*     Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.parallax {
    /* The image used */
    background-image: url('../img/animation/map.gif');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home_canvas {
    height: 100vh;
    width:100%;

    background: white;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.canvas_out{
  background-color:rgba(255,255,255,0);
    width:80%;
    height:80%;
    position:absolute;
    left:10%;
    top:10%;
    margin:0;
    bottom: 0px;
}

.name_font{
  font-size: 800%;
}
.name_inline{
  display:inline;
}
.name_one{
  color: #8f0014;
}
.name_two{
  color: #707070;
}

.name_border{
  display: inline;
  border-bottom: 10px solid #e66432;
  text-align: center;
  /*padding-left: 50%; */
  margin: 0 auto;
}
.white_background{
  background-color: white;
}

.c_background{
  background-color: seagreen;
}

#typed{
  color:#8f0014;
  /*color: white;*/
    font-size: 200%;

}
.typed-cursor {
      font-size: 200%;

  color: #707070;
}

.icon_center{
  margin: auto;
}

.sharp {
  border-radius:0;
  border: 3px solid black;
  background-color: #e66432;
  color: white;
  width: 10%;
  height: 5%;
  font-size: 200%;

}
/*a, .link_color:link {
  color: white;
  }
*/

.card-deck, a:hover{
  color: #e66432 ;
}

.carousel-caption {
    top: 45%;
    bottom: auto;
}

.carousel-indicators li { visibility: hidden; }
section {
    padding-top: 80px;
    /*margin-top: -70px;*/
}


.team-item img{
    height: 200px;
    width: 200px;
}

.advisors-item img{
    height: 150px;
    width: 150px;
}

.sectionTitle{
  display: inline;
  border-bottom: 5px solid #e66432;
  text-align: center;
  /*padding-left: 50%; */
  margin: 0 auto;
}




.icon-twitter {
    color: #55ACEE;
}
.icon-medium {
    color: black;
}

.icon-orange {
    color: #e66432;
}

.icon-red {
    color: #8f0014;
}

.icon-gray {
    color: #888888;
}


.datamaps-legend{
  position: static;
  font-size: 50px;
}

.map_container iframe{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  display: block;
}


.team_overlay{
  background-color: rgba(255, 255, 255, .9);
}
.team_color {
  background-image: linear-gradient(-45deg, #cdf9ff, #c3fbf9, #75d5e3,#75d5e3);
  /*background-image: url('../img/animation/window.png');*/
  /*background-image: url('../img/animation/window.png'), linear-gradient(-45deg, #cdf9ff, #c3fbf9, #acf5fb, #75d5e3);*/
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;



}


a{
  color: #e66432;
}

a:hover{
  color: #8f0014;
  text-decoration: none;
}

.blog_img{
  padding-bottom: 5px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


.categories_invest i{
  padding: 1vw 2vw;
}

.categories_invest p{
  color: black;
  font-size: 1.3vw;
  font-family: 'Oxygen', sans-serif;
  padding-top: .5vw;
}

.stage {
  width: 50vw;
  /*height: 100vw*/
}

.analysis {
  width: 25vw;
  /*height: 100vw*/
}

/*.bubble{
  width: 300px;
  height: 300px;
}*/

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


@media (max-width: 991px) { 
.categories_invest p{
  font-size: 1.8vw;
}
  .stage {
  width: 70vw;
  /*height: 100vw*/
}
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
.advisors-item img{
    height: 50px;
    width: 50px;
}

 .map_container iframe{
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: block;
  }

  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 .map_container iframe{
  width: 100%;
  height: 300px;
  margin: 0 auto;
  display: block;
  }

/*.bubble{
  width: 500px;
  height: 500px;
}*/
}

/*// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
*/
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .container-size{
    max-width: 1000px;
    margin-left: 20%;
  }
 .map_container iframe{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  display: block;
  }
}


